header {
   display: flex; 
   flex-direction: row;
   justify-content: center;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
ul {
    list-style-type: circle;
}
a:link {
    color: green;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: blueviolet; 
}
p {
    text-wrap: wrap;
    text-align: center;
    padding: 5px;
}
.form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
    gap: 20px;
    padding: 20px;
    margin: 20px;
}
button {
    background-color: pink;
    margin: 5px;
}
.pretty {
    font-weight: bold;
}